@model TP3_A1.Models.CategoriaServico

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>CategoriaServico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaServicoId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
