@{
    ViewBag.Title = "Entendendo o gCar";
}
<main aria-labelledby="title">
    <h2 id="title"></h2>
    <h3>Esse sistema centralizado permite acompanhar o histórico de manutenção e controlar os gastos, tudo em um só lugar.</h3>

    <p>
        Exemplo de Uso Completo
        Imagine que o usuário acabou de comprar um carro novo. Ele acessa o sistema, adiciona o veículo com as informações básicas e, depois de algum tempo, registra uma revisão. No fim do mês, ele adiciona uma despesa de combustível e vê o histórico de serviços e gastos no carro. Dessa forma, ele mantém um controle organizado e tem uma visão clara de todas as despesas e manutenções feitas no veículo.
        Essa aplicação ajuda o usuário a ter um histórico detalhado e bem organizado para seus veículos, permitindo um acompanhamento preciso e fácil de manutenções e despesas.
    </p>
</main>