@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>Bem-vindo ao Gerenciador de Veículos</h1>

    </section>

   


    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h5>Entre ou Cadastre-se para organizar e acompanhar serviços e despesas dos seus veículos facilmente.</h5>
            <a href="/Account/Login" class="btn btn-primary">Entrar</a>
            <a href="/Account/Register" class="btn btn-secondary">Cadastrar-se</a>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h5>Entenda o gCar</h5>
            <p>Quer entender o aplicativo? Acesse aqui e aprenda suas funcionalidades.</p>
            <a href="/Home/About" class="btn btn-secondary">Entenda</a>
        </section>
    </div>
</main>